.page-header
  %h1 Trending
.row
  .col-md-3
    = form_tag(fetch_trend_project_path, class: 'form-horizontal', method: :get, remote: true) do
      = hidden_field_tag :id, @project.id.to_s
      .form-group
        = label_tag(:type, 'Run Type', class: 'col-xs-3 control-label')
        .col-xs-9
          %select.form-control.eager-trigger#type{name: 'type'}
            %option{value: ''} Select Run Type
            - @types.each do |type|
              %option{value: type}= type
          -# = select_tag 'type', options_from_collection_for_select(@types, 'to_s', 'to_s', params[:category]), include_blank: "Select Run Type", onchange: "$('#submit-btn').trigger('click');"
      .form-group
        = label_tag(:filter, 'Filter', class: 'col-xs-3 control-label')
        .col-xs-9
          - options = ['0', '50', '20', '80']
          %select.form-control.eager-trigger#filter{name: 'filter'}
            - options.each do |option|
              %option{value: option}= "#{option}%"
      .form-group
        = label_tag(:include_manual, 'Manual', class: 'col-xs-3 control-label')
        .col-xs-9
          = check_box_tag(:include_manual)
      .form-group
        = label_tag(:style, 'Style', class: 'col-xs-3 control-label')
        .btn-group#viewSelector.col-xs-9
          %label.btn.btn-default.active{show: 'areaTrend'} Area
          %label.btn.btn-default{show: 'lineTrend'} Line

      = submit_tag('Go', id: 'getMeTheGraph', class: 'btn btn-default hide')
      -# .input-group-btn
      -#   = button_tag(id: 'submit-btn', type: "submit", class: "btn btn-default") do
      -#     %i.glyphicon.glyphicon-search


  .col-md-9
    .trend-view.container
      .trend#areaTrend{ data: { id: @project.id.to_s } }
      .trend#lineTrend{ data: { id: @project.id.to_s }, style: 'display: none;' }

:coffee
  switchStyle = ->
    $(this).addClass('active').siblings().removeClass('active')
    $('.container > .trend').hide()
    $('#' + $(this).attr('show')).show()
    console.log 'clicked'

    # $('#areaTrend').show()
    # $('#lineTrend').hide()
  $('label[type=radio]').on 'click', switchStyle
  $('#viewSelector > label').on 'click', switchStyle
  $('#include_manual').bootstrapSwitch()
  $('#include_manual').on 'switchChange.bootstrapSwitch', (event, state) ->
    $('#getMeTheGraph').click()
    return
  $('.eager-trigger').change ->
    $('#getMeTheGraph').click()
    return
