%tr.testRunRow{ data: {id: "#{test_run.id}", type: "#{test_run.type}" } }
  - if test_run[:start]
    %td= Time.at(test_run[:start] / 1000.0).strftime('%a, %b %d %Y %H:%M:%S')
  - else
    %td Unknown
  - if test_run[:start] && test_run[:stop]
    %td= distance_of_time_in_words ( test_run[:stop]/1000.0 ), ( test_run[:start]/1000.0 )
  - else
    %td= test_run[:status]
  %td= test_run[:type]
  - if test_run[:summary]
    %td
      .status
        = render partial: 'mini_status', locals: { status: test_run.summary_with_passrate }
      .ra
  - else
    %td not enough data
  %td
    = render partial: 'test_run_row_toolbar', locals: { test_run: test_run }
