#tree
  %ul.nav.nav-list
    - tree.each_with_index do |(key, value), _i|
      %li
        %label.container.tree-toggler.nav-header
          .row
            .col-sm-8
              .hideOverflow{ 'data-toggle': 'tooltip',
                title: key, 'data-placement': 'right' }
                = key
            .col-sm-4
              - if value.any?{|v| v.is_a? Array}
                %span.badge= value.size
              - else
                = render partial: 'mini_status', locals: { status: gen_status(value) }
        %ul.nav.nav-list.tree{ style: 'display: none;' }
          - if value.is_a?(Array)
            - value.each do |tc|
              - if tc.is_a? Array
                - link = fetch_test_cases_path(tc)
                - status = tc[0].status
                - name = tc[0].name
              - else
                - link = fetch_test_case_path(tc)
                - status = tc.status
                - name = tc.name
              %li
                = link_to link,
                  class: "test-case-in-list list-group-item list-group-item-#{status_map status}",
                  remote: true do
                  .hideOverflow
                    = name
          - else
            - value.each do |k, v|
              - v.any?{|c| c.status != 'passed'} ? status = 'info' : status = 'success'
              %li
                = link_to fetch_test_cases_path(v),
                  class: "test-case-in-list list-group-item list-group-item-#{status}",
                  remote: true do
                  .hideOverflow
                    - if v.size > 1
                      %span.badge= v.size
                    = k

:coffee
  $('[data-toggle="tooltip"]').tooltip({'delay': { 'show': 1000, 'hide': 100}})
  $('.tree-toggler').click (e) ->
    e.preventDefault()
    $(this).parent().children('ul.tree').toggle 300
  $('.test-case-in-list').click (e) ->
    e.preventDefault()
    $that = $(this)
    $('.test-case-in-list').removeClass 'active'
    $that.addClass 'active'
    return
