.page-header#header
  %h1
    = @baseline.type
    %small
      = show_date @baseline[:start]
    = '<-->'
    = @test_run.type
    %small
      = show_date @test_run[:start]

.row#main-view
  #tree_view{ data: { load: fetch_tree_test_run_path(@test_run, baseline: @baseline, group_by: 'diffs')}}
    = spinner
  #detail_view
    #details
