= render partial: "projects/menu", locals: {project: @test_run.project}
= render partial: "breadcrumb", locals: {test_run: @test_run}

.container-fluid
  .row
    .btn-group.btn-group-xs.pull-right{role: "group"}
      = link_to test_run_path(@test_run), class: "btn btn-default pull-right" do
        .glyphicon.glyphicon-remove

  .row
    %ul.list-group
      - @group.sort_by{ |k, v| -v.count }.each do |g|
        .list-group-item
          %span.badge= g[1].count
          %p.list-group-item-text= g[0]
          .btn-group.btn-group-xs{role: "group"}
            = link_to "find first", test_case_path(g[1].min_by{ |tc| tc.start }), class: "btn btn-info"
