= render partial: "projects/menu", locals: {project: @test_run.project}
= render partial: "breadcrumb", locals: {test_run: @test_run}

.page-header
  %h1
    = @test_run.name
    %small
      = @test_run.start.strftime("%a, %b %d %Y")
      - if @test_run.in_progress
        %span.label.label-default in progress

  .btn-toolbar{ role: 'toolbar' }
    .btn-group{ role: "group"}
      -# = link_to "delete", archive_test_run_path(@test_run), class: "btn btn-danger"
      %button.btn.btn-danger{ 'data-toggle': 'modal', 'data-target': '#confirm'} delete
      = confirmation archive_test_run_path(@test_run), 'confirm'
      = link_to "report", link(@test_run.report_path), class: "btn btn-default"
      = link_to "errors", errors_test_run_path(@test_run), class: "btn btn-default"
      = link_to "timeline", timeline_test_run_path(@test_run), class: "btn btn-default"
    .btn-group
      = form_tag(test_run_path(@test_run), method: 'get') do
        %select#tags{multiple: 'multiple'}
          - Tag.get_all.each do |t|
            - if params[:tags] && params[:tags].any?{ |tag| tag == t }
              %option{value: t, selected: 'selected'}= t
            - else
              %option{value: t}= t
        = button_tag 'Go', class: 'btn btn-default', name: 'type', value: 'selected'
      -# .btn-group{ role: 'group' }
      -#   %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', id: 'platform' }
      -#     = params[:platform] or 'any platform'
      -#     %span.caret
      -#   %ul.dropdown-menu{ role: 'menu' }
      -#     %li= link_to 'any', params.merge(platform: nil)
      -#     - Tag.get_all(:platform).each do |t|
      -#       %li
      -#         = link_to t, params.merge(platform: t)

.panel-group#accordion1
  - @test_run.test_suites.each do |test_suite|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = link_to "#ts_#{test_suite.id}", 'data-toggle': 'collapse', 'data-parent': '#accordion1' do
            .row
              .col-md-2= render partial: 'mini_status', locals: { test_cases: test_suite.test_cases, consolidate: params[:consolidate] }
              .col-md-10= test_suite.name

      .panel-collapse.collapse{ id: "ts_#{test_suite.id}" }
        .panel-body
          .panel-group#accordion2
            - group_by_name(test_suite.test_cases, tags: params[:tags]).each do |name, tcs|
              -# group_by_name(test_suite.test_cases.with_tag(params[:tags][0])).each do |name, tcs|
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    - if tcs.size == 1
                      = link_to test_case_path(tcs[0]) do
                        .row
                          %div{class: 'col-md-2'}
                            %div{class: "label label-#{status_map(tcs[0].status)}"}= tcs[0].status
                          .col-md-10= tcs[0].name
                    - else
                      = link_to "#tc_#{tcs[0].id}", 'data-toggle': 'collapse', 'data-parent': '#accordion2' do
                        .row
                          .col-md-2= render partial: 'mini_status', locals: { test_cases: tcs, compact: true, no_rate: true }
                          .col-md-10= name
                .panel-collapse.collapse{ id: "tc_#{tcs[0].id}" }
                  .panel-body
                    = form_tag(diff_test_suite_test_cases_path(test_suite)) do |form|
                      = hidden_field_tag :all, tcs.collect(&:id)
                      = hidden_field_tag :name, name
                      %ul.list-group
                        - tcs.each do |tc|
                          -#= collection_check_boxes(:selected, :ids, tcs, :id, :name) do |b|
                          %li.list-group-item.list-group-item-default
                            = check_box_tag 'selected[]', tc.id
                            = label_tag do
                              = link_to test_case_path(tc) do
                                %span{ :class => "label label-#{status_map(tc.status)}"}= tc.status
                                - tc.tags.each do |tag|
                                  %span.label.label-default= tag.value
                      .btn-group{ role: 'group'}
                        = button_tag 'diff', class: 'btn btn-default', name: 'type', value: 'selected'
                        = button_tag 'diff all', class: 'btn btn-default', name: 'type', value: 'all'

        -# %ul.list-group
        -#   - group_by_name(test_suite.test_cases, platform: params[:platform]).each do |name, tcs|
        -#     -#= link_to test_case_path(tcs), class: "list-group-item list-group-item-default" do
        -#     = link_to "#tc_#{name}", 'data-toggle': 'collapse', 'data-parent': "#ts_#{test_suite.id}", 'aria-expanded': 'false', 'aria-controls': "tc_#{name}" do
        -#       = name
        -#       %span.badge= tcs.size
        -#     .collapse{:id => "tc_#{name}"}
        -#       .well
        -#         %ul.list-group
        -#           - tcs.each do |tc|
        -#             = link_to test_case_path(tc), class: "list-group-item list-group-item-default" do
        -#               = name

          -# - test_suite.test_cases.each do |test_case|
          -#   - if params[:platform]
          -#     - if test_case.tags.any?{|t| t.name == 'Platform' && t.value != params[:platform]}
          -#       - next
          -#   = link_to test_case.name, test_case_path(test_case), class: "list-group-item list-group-item-#{status_map(test_case.status)}"
