.page-header#header
  %h1
    = @test_run.type
    %small
      = Time.at(@test_run[:start]/1000.0).strftime("%a, %b %d %Y")
  .btn-toolbar{ role: 'toolbar' }
    .btn-group#group-toggle{role: 'group'}
      = link_to 'features', fetch_tree_test_run_path(@test_run, group_by: 'features', format: :js), remote: true, class: 'btn btn-default active'
      = link_to 'errors', fetch_tree_test_run_path(@test_run, group_by: 'errors', format: :js), remote: true, class: 'btn btn-default'
    .btn-group{ role: "group"}
      = link_to "timeline", timeline_test_run_path(@test_run), class: "btn btn-default"


.row#main-view{ data: { test_run_id: @test_run.id.to_s } }
  #tree_view.col-sm-4{ data: { load: fetch_tree_test_run_path(@test_run)}}
    = spinner
  #detail_view.col-sm-8
    #details

:coffee
  $('#treeLoader').loader()
  $('#group-toggle > a').click (e) ->
    $('#group-toggle > a').removeClass 'active'
    $(this).addClass 'active'
