.page-header#header
  %h1
    = @test_run.type
    %small
      = Time.at(@test_run[:start]/1000.0).strftime("%a, %b %d %Y")
  .btn-toolbar{ role: 'toolbar' }
    .btn-group#group-toggle{role: 'group'}
      = link_to 'features', fetch_tree_test_run_path(@test_run, group_by: 'features', format: :js), remote: true, class: 'btn btn-default active'
      = link_to 'handset', fetch_tree_test_run_path(@test_run, group_by: 'handset', format: :js), remote: true, class: 'btn btn-default'
      = link_to 'errors', fetch_tree_test_run_path(@test_run, group_by: 'errors', format: :js), remote: true, class: 'btn btn-default'
    .btn-group{ role: "group"}
      = link_to "timeline", timeline_test_run_path(@test_run), class: "btn btn-default disabled"


.row#main-view
  #tree_view{ data: { load: fetch_tree_test_run_path(@test_run)}}
    = spinner
  #detail_view
    #details

  = render partial: "test_cases/commenting"
:coffee
  $('#commenting').on 'show.bs.modal', (event) ->
    button = $(event.relatedTarget)
    id = button.data('id')
    modal = $(this)
    # modal.find('.modal-title').text 'Commenting on ' + id
    modal.find('#test_case_id').val(id)
    return
  $('#group-toggle > a').click (e) ->
    $('#group-toggle > a').removeClass 'active'
    $(this).addClass 'active'
