.col-xs-9
  .tab-content
    - images.each_with_index do |image_set, index|
      .tab-pane{ id: "image_set_#{index}", class: "#{'active' if index == 0}" }
        .row
          - image_set.each do |image|
            .col-md-3
              = link_to '#', class: 'thumbnail' do
                %img{src: image[:link]}
                .caption
                  - image[:test_case][:tags].each do |tag|
                    %span.label.label-default= tag

.col-xs-3
  %ul.nav.nav-tabs.tabs-right
    - images.each_with_index do |image, index|
      %li{ class: "#{'active' if index == 0}"}
        = link_to image[0][:title], "#image_set_#{index}", 'data-toggle': 'tab', class: 'vertical-tab'
