%h3 Histories

.bootcards-list
  %ul.nav.nav-list.tree
    %li
      - history.each do |tc|
        = link_to '#', class: "list-group-item list-group-item-#{status_map tc.status}" do
          .row
            .col-sm-6
              %h4.list-group-item-heading= show_datetime tc[:start]
              %p.list-group-item-text= show_duration tc[:start], tc[:stop]
            .col-sm-6
              %p.list-group-item-text= tc[:status]
              %p.list-group-item-text
                - tc[:tags].each do |t|
                  %span.label.label-default= t
