%ul.media-list
  - if test_case.respond_to? 'steps'
    - problem_found = false
    - test_case.steps.each do |step|
      - status = step[:status]
      - start = step[:start]
      - stop = step[:stop]
      %li.media
        .media-left
          %span{class: "glyphicon #{status_icon status}", 'aria-hidden': 'true'}
        .media-body
          - if status == 'passed' || problem_found
            %h5{ class: problem_found ? "media-heading text-muted" : "media-heading text-#{context status}" }= step[:name]
          - else
            %a{ 'data-toggle': 'collapse', href: '#error_details', 'aria-expanded': 'false', 'aria-controls': 'error_details' }
              %h5{ class: problem_found ? "media-heading text-muted" : "media-heading text-#{context status}" }= step[:name]
            #error_details.collapse{style: 'overflow: hidden;'}
              = render partial: 'error', locals: { test_case: test_case }

          %p{class: problem_found ? 'text-muted' : 'text-default'}= "#{show_time start} -> #{show_time stop} (#{show_duration start, stop})"
      - problem_found = true unless status == 'passed'
  - else
    %a{ 'data-toggle': 'collapse', href: '#error_details', 'aria-expanded': 'false', 'aria-controls': 'error_details' }
      %h5{ class: "media-heading text-muted" } No Step Executed
    #error_details.collapse{style: 'overflow: hidden;'}
      = render partial: 'error', locals: { test_case: test_case }
