%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-small{:role => "navigation"}
  .container-fluid
    .navbar-header
      = link_to root_path, {:class=>"navbar-brand"} do
        = "Repauto"
        %sup.small.label.label-primary= Repauto::VERSION

    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to 'project', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-expanded': 'false' do
            - project = trace_project
            - if project
              -# = "Project: #{project.name}"
              %i.fa.fa--hand-spock-o
              %strong= project.name
              %span.caret
            - else
              %i.fa.fa--hand-spock-o
              Select Project
              %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            - grouped = Project.all.group_by { |p| p.stream }
            - grouped.keys.each do |stream|
              %li.dropdown-header= stream
              - grouped[stream].each do |project|
                %li
                  = link_to project.project, project_path(project.id)

        - if project
          %li{class: "#{active_class(controller: 'projects', actions: ['show'])}"}
            = link_to project_path(project) do
              %i.fa.fa-home
              Summary
          %li{class: "#{active_class(controller: 'projects', actions: ['trend'])}"}
            = link_to trend_project_path(project) do
              %i.fa.fa-line-chart
              Trend
          %li{class: "#{active_class(controller: 'test_runs', actions: ['index', 'show', 'diff'])}"}
            = link_to project_test_runs_path(project) do
              %i.fa.fa-tasks
              Test Runs
          %li{class: "#{active_class(controller: 'test_runs', actions: ['bin'])}"}
            = link_to bin_project_test_runs_path(project) do
              %i.fa.fa-trash-o
              Bin

      - if project && project[:last_sync]
        %p.navbar-text.navbar-right
          - time = time_ago_in_words Time.at(project[:last_sync] / 1000.0)
          = "last sync: #{time} ago"
      - if Rails.env == 'development' && false
        %p.navbar-text.navbar-right= "#{controller_name} -> #{action_name}"
    -# .container
    -#   = consolidate_button
    -#   - if Rails.env == 'development'
    -#     %p.nav.navbar-nav= "#{controller_name} -> #{action_name}"
    -#     %p.nav.navbar-nav= "console: #{Project.all.first.name}"
    -#     = link_to 'refresh', sync_projects_path, method: :post, class: 'btn btn-primary navbar-btn pull-right', type: 'button'
