= render partial: "breadcrumb", locals: {project: @project}
= render partial: "projects/menu", locals: {project: @project}

- if false
  = form_tag({controller: "reports", action: "index"}, method: "get") do
    .input-group
      - [{:name => 'stream', :level => 0},
      {:name => 'project', :level => 1},
      {:name => 'category', :level => 2},
      {:name => 'type', :level => 3}].each do |filter|
        = select_tag filter[:name], options_from_collection_for_select(tags(@reports, filter[:level]), 'to_s', 'to_s', params[filter[:name]]), include_blank: "Any", onchange: "this.form.submit();"

      -# = select_tag 'last', options_from_collection_for_select(date_scopes, 'ago', 'ago', params[:last]), include_blank: "Any", onchange: "this.form.submit();"

    .input-group-btn
      = button_tag(type: "submit", class: "btn btn-default") do
        %i.glyphicon.glyphicon-search

- if @reports.size > 0
  %table.table.table-hover
    %tr
      %th date
      %th tags

    - @reports.each do |report|
      %tr
        %td
          = link_to report.date, report.url
        %td= report.tags
- else
  %td= report.url

