!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Repauto
    - css_cdn_links.each do |link|
      = stylesheet_link_tag link
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{data: {parmas: params}}
    = render partial: "nav", locals: {project: @project}
    -# = react_component('ProjectNav', links: [{summary: 'www.google.com'}])

    .container-fluid
      = content_for?(:content) ? yield(:content) : yield
    - js_cdn_links.each do |l|
      = javascript_include_tag l
    = javascript_include_tag 'app'
