!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tereport
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top.navbar-small{:role => "navigation"}
      .navbar-header
        = link_to "Test Engineer", root_path, {:class=>"navbar-brand"}
      #nav-project.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.dropdown
            = link_to 'project', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-expanded': 'false' do
              - p = trace_project
              - if p
                = "Project: #{p.name}"
              - else
                Select Project
            %ul.dropdown-menu{ role: 'menu' }
              - grouped = Project.all.group_by { |p| p.stream }
              - grouped.keys.each do |stream|
                %li.dropdown-header= stream
                - grouped[stream].each do |project|
                  %li
                    = link_to project.name, project_path(project.id)

        .container
          = consolidate_button
          - if Rails.env == 'development'
            %p.nav.navbar-nav= "#{controller_name} -> #{action_name}"
            = link_to 'refresh', sync_projects_path, method: :post, class: 'btn btn-primary navbar-btn pull-right', type: 'button'


        -# %ul.nav.navbar-nav
        -#   %li
        -#   - if Rails.env == 'development'
        -#     %li= "#{controller_name} -> #{action_name}"
          -# %li{:class => "#{'active' if params[:controller] == 'reports'}"}= link_to "Reports", reports_path
          -# %li{:class => "#{'active' if params[:controller] == 'dashboards'}"}= link_to "Dashboards", dashboards_path
        -# = link_to "refresh", welcome_index_path(:refresh => true), {:class => "btn btn-default navbar-right"}
        -# .three-quarters.pull-right#loading
        -#   Loading...

    .modal.fade{ id: 'processing', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': true }
      .modal-dialog
        .modal-content
          .modal-header
            %h4#myModalLabel.modal-title Consolidating, Please Wait... Or buy us a more powerful Mac
          .modal-body
            .progress
              .progress-bar.progress-bar-striped.active{ role: 'progressbar', 'aria-valuenow': '100', 'aria-valuemin': '0', 'aria-valuemax': '100', style: 'width: 100%'}
    .container-fluid
      = content_for?(:content) ? yield(:content) : yield
      -# .row
      -#   #sidebar.col-sm-3.hidden-xs.fixed
      -#     = render partial: 'tree'

      -#   #main.col-sm-9.scrollit{:role => "main"}
      -#     = content_for?(:content) ? yield(:content) : yield
